<ng-container [ngSwitch]="mode">
  
  <div *ngSwitchCase="MODES.edit">

    <div class="form-group">
      <label for="">Name</label>
      <input type="text" class="form-control" [(ngModel)]="draft.name">
    </div>
    <div class="form-group">
      <label for="">Favourite</label>
      <input type="checkbox" [(ngModel)]="draft.favourite">
    </div>
    <div class="form-group">
      <label for="">Color</label>
      <input type="color" [(ngModel)]="draft.color">
    </div>
    <button (click)="cancel()">Cancel</button>
    <button (click)="save()">Save</button>

  </div>

  <div *ngSwitchDefault>
    <div class="form-group">
      <label for="">Name</label>
      <div class="form-control-plaintext">{{ playlist.name }}</div>
    </div>
    <div class="form-group">
      <label for="">Favourite</label>
      <div class="form-control-plaintext">{{ playlist.favourite? 'Yes': 'No' }}</div>
    </div>
    <div class="form-group">
      <label for="">Color</label>
      <div class="form-control-plaintext" [ngStyle]="{
            color: playlist.color,
            borderBottom: '2px solid '+playlist.color
          }">{{ playlist.color }}</div>
    </div>
    <button (click)="edit()">Edit</button>
  </div>

</ng-container>