<!--   
        (mouseenter)="hover = playlist"
        (mouseleave)="hover = null"
        [style.borderLeftColor]="hover == playlist? playlist.color : 'transparent'"
-->

<div class="list-group">
    <div class="list-group-item"     
        (click)="select(playlist)"
        [class.active]="selected?.id == playlist.id"
        *ngFor="let playlist of playlists;
        let i = index;
        trackBy trackFn"

        [appHighlight]="playlist.color"

        [style.font-size.px]="22"
        >
    {{ i + 1 }}. {{ playlist.name}}
  </div>
</div>

{{hover?.name}}