<!-- .row>.col*2 -->
<!-- 
<button (click)="hide=!hide">Toggle</button> -->
<div class="row">
  <div class="col">
    <app-items [items]="playlists$ | async"
               [selected]="selected$ | async"
               (selectedChange)="select($event)"
               >
    </app-items>
    {{ message }}
  </div>
  <div class="col">
      <router-outlet></router-outlet>
  </div>
</div>