<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-4">
  <div class="container">
    <a class="navbar-brand" routerLink="">Music App</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="playlists" routerLinkActive="active">Playlists</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="music" routerLinkActive="active">Search Music</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>








<!-- <div class="col">
    <app-music-container class="row">
      <div class="col">
        <app-music-search></app-music-search>
      </div>
      <div class="col">
        <app-music-search></app-music-search>
      </div>
    </app-music-container>
  </div> -->