<!-- img.card-img-top[src=""] -->

<img [src]="image.url" class="card-img-top">

<!-- .card-body>h4.card-title{Album Name} -->

<div class="card-body">
  <h4 class="card-title">{{album.name}}</h4>
</div>