<div class="row">
  <div class="col">
    <app-search-form (search)="search($event)" [query]="query$ | async">
    </app-search-form>
  </div>
</div>
<div class="row">
  <div class="col">
    <div *ngIf="albums$ | async as albums">
      <app-albums-list [albums]="albums"></app-albums-list>
      {{ albums.length }}
    </div>
  </div>
</div>