<form [formGroup]="queryForm" class="input-group mb-1">

  <ng-container formGroupName="search">

    <input type="text" formControlName="query" class="form-control" placeholder="Search for...">

  </ng-container>

</form>
<div *ngIf="queryField.pending">Please wait ....</div>

<ng-container *ngIf="queryField.dirty || queryField.touched">
  <div *ngIf="queryField.hasError('required')">
    Field is required
  </div>
  <div *ngIf="queryField.getError('minlength') as error">
    Value to short. Needs 
    {{error.requiredLength - error.actualLength }} more
  </div>
  <div *ngIf="queryField.getError('censor') as error">
    Queries containing "{{error}}" are not allowed!
  </div>
</ng-container>

<br>